.cardContainer {
  display: flex;
  justify-content: flex-end;
}

.card {
  background: white;
  border-radius: 4px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 390px;
  justify-content: center;
  position: relative;
  width: 260px;
}

.raro {
  border: 0.5rem;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  border-style: solid;
  box-shadow: 0 0 4px 2px #c13cd0;
}

.normal {
  border: 0.5rem solid #28ab4b;
  border-style: solid;
}

.muito-raro {
  border: 0.5rem;
  border-image: linear-gradient(to right, rgb(188, 81, 4), rgb(252, 139, 0)) 1;
  border-style: solid;
  box-shadow: 0 0 4px 2px #d63f03, 0 0 0 1px black;
}

.card img {
  background: center center;
  background-size: cover;
  height: 200px;
  width: 246px;
}

.emptyImage {
  background: url("../../images/empty-img.png") center center;
  background-size: cover;
  grid-area: 1/1;
  height: 200px;
  width: 246px;
}

.cardHeader {
  margin: 0.5rem 0;
  min-height: 2.2rem;
  padding: 0 1rem;
}

.card p {
  color: white;
  font-weight: 700;
  line-break: anywhere;
  margin: auto;
}

.card .trunfo {
  color: #f48734;
}

.name,
.description {
  font-size: 1rem;
  line-height: 1;
  text-align: center;
}

.card .name {
  font-size: 1.25rem;
}

.description {
  font-size: 0.8rem;
}

.card .description {
  color: #eee;
}

.cardDown {
  background: #0e0e10;
}

.attr {
  border-radius: 4px;
  margin: 0 auto;
  max-width: 220px;
}

.attr p {
  line-height: 1.4;
}

.attr p:nth-child(2n) {
  background: linear-gradient(45deg, rgb(18, 18, 18) 10%, rgb(52, 52, 52));
}

input {
  font-family: var(--font);
}

@media screen and (max-width: 600px) {
  .cardContainer {
    justify-content: center;
    margin-top: 2rem;
  }
}
