.containerForm {
  display: flex;
  justify-content: center;
  margin: auto;
}

.form {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}

.description {
  width: 100%;
}

.info {
  color: rgb(255, 153, 0);
  font-size: 0.75rem;
  margin: 0.25rem 0;
}

textarea {
  background: #eee;
  border-radius: 4px;
  height: 4rem;
  padding: 0.5rem;
  resize: none;
  transition: 0.3s;
  width: 100%;
  word-break: break-all;
}

textarea:hover,
textarea:focus {
  background: white;
  border-color: rgb(255, 232, 55);
  box-shadow: 0 0 0 3px rgb(202, 69, 29);
  outline: none;
}
