.containerForm {
  margin: auto;
  display: flex;
  justify-content: center;
}

.form {
  border-radius: 4px;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 50%;
  align-items: center;
}

.description {
  width: 100%;
}

.info {
  font-size: 0.75rem;
  color: rgb(255, 153, 0);
  margin: 0.25rem 0;
}

textarea {
  width: 100%;
  height: 4rem;
  word-break: break-all;
  resize: none;
  background: #eee;
  border-radius: 4px;
  transition: 0.3s;
  padding: 0.5rem;
}

textarea:hover,
textarea:focus {
  outline: none;
  border-color: rgb(255, 232, 55);
  background: white;
  box-shadow: 0 0 0 3px rgb(202, 69, 29);
  background: white;
}
