.input {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.input input {
  border: 1px solid #eee;
  max-width: 20rem;
  padding: 0.5rem 0;
  background: #eee;
  border-radius: 4px;
  transition: 0.3s;
}

.input input:hover,
.input input:focus {
  outline: none;
  border-color: rgb(255, 232, 55);
  background: white;
  box-shadow: 0 0 0 3px rgb(202, 69, 29);
  background: white;
}
