.cardContainer {
  margin: auto;
}

.card {
  height: 280px;
  width: 180px;
  background: white;
  display: grid;
  justify-content: center;
  border-radius: 4px;
  position: relative;
}

.raro {
  border: 0.5rem;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  box-shadow: 0 0 4px 1px #c13cd0;
}

.normal {
  border: 0.5rem solid #28ab4b;
  border-style: solid;
}

.muito-raro {
  border: 0.5rem;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(188, 81, 4), rgb(252, 139, 0)) 1;
  box-shadow: 0 0 4px 1px #d63f03, 0 0 0 1px #000000;
}

.card img {
  background-size: cover;
  background: center center;
  height: 140px;
  width: 166px;
}

.card p {
  font-weight: bold;
  color: black;
  font-size: 0.85rem;
  padding-left: 2px;
}
