.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 180px;
}

.card {
  background: white;
  border-radius: 4px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 280px;
  justify-content: center;
  position: relative;
  width: 180px;
}

.raro {
  border: 0.5rem;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  border-style: solid;
  box-shadow: 0 0 4px 2px #c13cd0;
}

.normal {
  border: 0.5rem solid #28ab4b;
  border-style: solid;
}

.muito-raro {
  border: 0.5rem;
  border-image: linear-gradient(to right, rgb(188, 81, 4), rgb(252, 139, 0)) 1;
  border-style: solid;
  box-shadow: 0 0 4px 2px #d63f03 , 0 0 0 1px black;
}

.card img {
  background: center center;
  background-size: cover;
  height: 134px;
  width: 166px;
}

.cardHeader {
  margin: 8px 0;
}

.card p {
  color: white;
  font-weight: 700;
  line-break: anywhere;
  margin: auto;
}

.name, .description {
  font-size: 1rem;
  line-height: 0.9;
  text-align: center;
}

.cardDown {
  background: #0e0e10;
}

.attr {
  border-radius: 4px;
  margin: 0 auto;
  max-width: 140px;
}

.attr p {
  font-size: 0.8rem;
  line-height: 1.2;
}

.attr p:nth-child( 2n ) {
  background: linear-gradient(45deg, black(0, 0, 0) 40%, rgb(20, 20, 20));
}
