@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding-top: 1rem;
  --font: "Roboto", sans-serif;
  background: url("../images/background.jpg") center no-repeat;
  overflow: hidden;
  background-size: cover;
  min-height: 120vh;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  font-family: var(--font);
  color: #eee;
}

label {
  font-family: var(--font);
  font-weight: bold;
  font-size: 1.25rem;
  color: #ffffff;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

header {
  width: 100%;
  text-align: center;
}

header h1 {
  background: -webkit-linear-gradient(#ef5f3b, #ffdf27);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.85rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

header h1::before {
  content: "";
  margin-right: 1rem;
  width: 32px;
  height: 49px;
  display: inline-block;
  background: url("../images/Group\ 2.svg");
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 2rem;
}

.container main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.deck-container {
  margin: 2rem auto;
  min-height: 25rem;
  min-height: 25rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.filter-container {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-top: 1rem;
  max-width: 50%;
  max-height: 66px;
  gap: 1rem;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  padding-bottom: 1rem;
  gap: 20px;
  min-height: 21.5rem;
  max-height: 20rem;
  overflow-y: scroll;
}

.deck::-webkit-scrollbar {
  width: 10px;
}

.deck::-webkit-scrollbar-thumb {
  background: #ef5f3b;
  border-radius: 8px;
}

.deck::-webkit-scrollbar-track {
  background: #00000000;
}

button {
  padding: 10px 10px;
  width: 8rem;
  margin-top: 0.5rem;
  align-self: center;
  color: white;
  background: #ef5f3b;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

button:disabled {
  background: #ef5f3b7b;
  cursor: not-allowed;
}

select {
  margin: 0;
}

select {
  border: 1px solid #eee;
  max-width: 20rem;
  padding: 0.45rem 2rem 0.45rem 0.5rem;
  background: #eee;
  border-radius: 4px;
  transition: 0.3s;
}

select:hover,
select:focus {
  outline: none;
  border-color: rgb(255, 232, 55);
  background: white;
  box-shadow: 0 0 0 3px rgb(202, 69, 29);
  background: white;
}

input,
select,
textarea {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

select {
  min-width: 8rem;
}

label {
  font-size: 1rem;
}
