@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding-top: 4rem;
  --font: "Roboto", sans-serif;
  background: url("../images/background.jpg") center center no-repeat;
  overflow: hidden;
  background-size: cover;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  font-family: var(--font);
  color: #eee;
}

label {
  font-family: var(--font);
  font-weight: bold;
  font-size: 1.25rem;
  color: #ffffff;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0px;
  text-align: center;
  height: 4rem;
}

header h1 {
  background: -webkit-linear-gradient(#ef5f3b, #ffdf27);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-weight: bold;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 4rem;
}

.container main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-items: center; */
}
